nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: lightslategray; /* Dark background for contrast */
  }
  
  nav a {
    color:rgb(242, 229, 189); 
    background-color:#7788720a;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #555; /* Change color on hover */
  }
  